:root {
  --body-bg: #201b2c;
  --card-bg: #2f2841;
  --input-bg: #514869;
  --primary-green: #77ffc0;
  --secundary-green: #00ff88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

article,
aside {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article > h1 {
  font-size: 3vw;
  color: var(--primary-green);
}

article > img {
  width: 35vw;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: var(--card-bg);
  border-radius: 20px;
  box-shadow: 0 10px 40px #00000056;
}

.card-login > h1 {
  color: var(--secundary-green);
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

form {
  width: 100%;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: var(--input-bg);
  color: white;
  font-size: 12pt;
  box-shadow: 0 10px 40px #00000056;
  outline: none;
}

.textfield > label {
  color: white;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #ffffff44;
}

.btn-login {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: var(--secundary-green);
  cursor: pointer;
  box-shadow: 0 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  article > h1 {
    display: none;
  }

  article {
    width: 100%;
    height: auto;
  }

  aside{
     width: 100%;
     height: auto;
  }

  article > img {
     width: 50vw;
  }

  .card-login{
     width: 90%;
  }
}
